# environment variables for emailJS
# used on contact component
NEXT_PUBLIC_EMAILJS_SERVICE_ID= service_9b222k8         # service_sdks9sz
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID= template_pz5woyj        # template_cds32d
NEXT_PUBLIC_EMAILJS_PUBLIC_USER_ID=  Aw82ziVpVjXwZdrzk    # scd8nSBV8d00sdcDF
